{% extends "base.html" %}

{% load user_tags static %}

{% block title %}Dashboard{% endblock title %}

{% block css %}

  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/chart.js/Chart.min.css' %}" />

{% endblock css %}

{% block content %}

<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        {% if request.user|has_group:"Admin" %}
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ total_customers }}</h3>

                  <p>Customers</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url "customers:customer_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ total_orders }}</h3>

                  <p>Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ total_products }}</h3>

                  <p>Products</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url "products:product_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ total_users }}</h3>

                  <p>Users</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url "users:user_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
        {% endif %}

        {% if request.user|has_group:"Sales" %}
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ total_customers }}</h3>

                  <p>Customers</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url "customers:customer_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->

            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ completed_orders }}</h3>

                  <p>Completed Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ pending_orders }}</h3>

                  <p>Pending Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ cancelled_orders }}</h3>

                  <p>Cancelled Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-person-add"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            
          </div>
          <!-- /.row -->
        {% endif %}

        {% if request.user|has_group:"Delivery" %}
          <div class="row">
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-info">
                <div class="inner">
                  <h3>{{ total_customers }}</h3>

                  <p>Customers</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url "customers:customer_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-success">
                <div class="inner">
                  <h3>{{ deliverable_orders }}</h3>

                  <p>Deliverable Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-bag"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-warning">
                <div class="inner">
                  <h3>{{ completed_orders }}</h3>

                  <p>Completed Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-stats-bars"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
              <!-- small box -->
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>{{ cancelled_orders }}</h3>

                  <p>Cancelled Orders</p>
                </div>
                <div class="icon">
                  <i class="ion ion-pie-graph"></i>
                </div>
                <a href="{% url "orders:order_list" %}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
              </div>
            </div>
            <!-- ./col -->
          </div>
          <!-- /.row -->
        {% endif %}

        <!-- The Dashboard Cards -->
        {% if request.user|has_group:"Admin" %}
          <!-- Sales Chart -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Sales Chart</h3>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <canvas id="salesChart" style="height: 400px; width: 100%;"></canvas>
                  </div>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          
          <!-- Latest Orders -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Latest Orders</h3>

                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Customer</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for order in latest_orders %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ order.customer.name }}</td>
                          <td>
                            {% if order.status == 'Pending' %}
                              <span class="badge badge-warning">{{ order.status }}</span>
                            {% elif order.status == 'Completed' %}
                              <span class="badge badge-success">{{ order.status }}</span>
                            {% elif order.status == 'Cancelled' %}
                              <span class="badge badge-danger">{{ order.status }}</span>
                            {% endif %}
                          </td>
                          <td>${{ order.order_total }}</td>
                          <td>{{ order.created_at.date }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

          <!-- Latest Customers -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Latest Customers</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for customer in latest_customers %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ customer.name }}</td>
                          <td>{{ customer.email }}</td>
                          <td>{{ customer.phone }}</td>
                          <td>{{ customer.created_at.date }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->

          <!-- Latest Products -->
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Latest Products</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                  <table class="table table-hover text-nowrap">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in latest_products %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ product.name }}</td>
                          <td>${{ product.price }}</td>
                          <td>{{ product.quantity }}</td>
                          <td>{{ product.created_at.date }}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
          </div>
          <!-- /.row -->
          {% endif %}

          {% if request.user|has_group:"Sales" %}
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Latest Orders</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Customer</th>
                          <th>Status</th>
                          <th>Total Price</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in latest_orders %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.customer.name }}</td>
                            <td>
                              {% if order.status == 'Pending' %}
                                <span class="badge badge-warning">{{ order.status }}</span>
                              {% elif order.status == 'Completed' %}
                                <span class="badge badge-success">{{ order.status }}</span>
                              {% elif order.status == 'Cancelled' %}
                                <span class="badge badge-danger">{{ order.status }}</span>
                              {% endif %}
                            </td>
                            <td>${{ order.order_total }}</td>
                            <td>{{ order.created_at.date }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
            
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Latest Customers</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Customer Type</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for customer in latest_customers %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>
                              {% if customer.type == 'Individual' %}
                                <span class="badge badge-primary">{{ customer.type }}</span>
                              {% elif customer.type == 'Business' %}
                                <span class="badge badge-secondary">{{ customer.type }}</span>
                              {% elif customer.type == 'Corporate' %}
                                <span class="badge badge-success">{{ customer.type }}</span>
                              {% elif customer.type == 'Government' %}
                                <span class="badge badge-danger">{{ customer.type }}</span>
                              {% elif customer.type == 'Other' %}
                                <span class="badge badge-warning">{{ customer.type }}</span>
                              {% else %}
                                <span class="badge badge-info">{{ customer.type }}</span>
                              {% endif %}
                            </td>
                            <td>{{ customer.created_at.date }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
            
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Latest Products</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for product in latest_products %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.name }}</td>
                            <td>${{ product.price }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.created_at.date }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->
          {% endif %}

          {% if request.user|has_group:"Delivery" %}
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Latest Orders</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Customer</th>
                          <th>Status</th>
                          <th>Total Price</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in latest_orders %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.customer.name }}</td>
                            <td>
                              {% if order.status == 'Pending' %}
                                <span class="badge badge-warning">{{ order.status }}</span>
                              {% elif order.status == 'Completed' %}
                                <span class="badge badge-success">{{ order.status }}</span>
                              {% elif order.status == 'Cancelled' %}
                                <span class="badge badge-danger">{{ order.status }}</span>
                              {% endif %}
                            </td>
                            <td>${{ order.order_total }}</td>
                            <td>{{ order.created_at.date }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->

            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Latest Customers</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                    <table class="table table-hover text-nowrap">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Customer Type</th>
                          <th>Date</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for customer in latest_customers %}
                          <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ customer.name }}</td>
                            <td>{{ customer.email }}</td>
                            <td>
                              {% if customer.type == 'Individual' %}
                                <span class="badge badge-primary">{{ customer.type }}</span>
                              {% elif customer.type == 'Business' %}
                                <span class="badge badge-secondary">{{ customer.type }}</span>
                              {% elif customer.type == 'Corporate' %}
                                <span class="badge badge-success">{{ customer.type }}</span>
                              {% elif customer.type == 'Government' %}
                                <span class="badge badge-danger">{{ customer.type }}</span>
                              {% elif customer.type == 'Other' %}
                                <span class="badge badge-warning">{{ customer.type }}</span>
                              {% else %}
                                <span class="badge badge-info">{{ customer.type }}</span>
                              {% endif %}
                            </td>
                            <td>{{ customer.created_at.date }}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
            </div>
            <!-- /.row -->

          {% endif %}

        </div><!-- /.container-fluid -->
    </div>
  </section>
  <!-- /.content -->

{% endblock content %}

{% block scripts %}
  <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
  <!-- Datatables  & Plugins -->
  <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

  <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

  <script>
    $(document).ready(function() {
      $('.table').DataTable();
      {% if request.user|has_group:"Admin" %}
        var ctx = document.getElementById('salesChart').getContext('2d');
        var salesChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ sales_chart.labels|safe }},
                datasets: [{
                    label: 'Sales Per Month' + ' (' + {{ sales_chart.current_year }} + ')',
                    data: {{ sales_chart.values|safe }},
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                    },

                    x: {
                        grid: {
                            display: true
                        }
                    }
                },
            }
        });
      {% endif %}
    });
  </script>
{% endblock %}